@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;  
}

body{
    background: linear-gradient(-45deg,#F7941D,#014484);
    background-size: 500% 500%;
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: gradient 30s ease infinite alternate;
}


main.container{
    background-image: linear-gradient(175deg,#023f79,#326597 );
    max-width: 350px;
    min-height: 40vh;
    padding: 2rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

main h2{
    font-weight: 600;
    margin-bottom: 2rem;
    position: relative;
    color: white;
}

main h2::before{
    content: '';
    position: absolute;
    height: 4px;
    width: 100px;
    bottom: 3px;
    left: 0;
    border-radius: 8px;
    background-color:#F7941D ;
}

form{
    display: flex;
    flex-direction: column;
}

.input-field{
    position: relative;
    
}

form .input-field{
    margin-bottom: 1.0rem;
}

.input-field .underline::before{
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: rgba(0, 0, 0, 0.2);

}

.input-field .underline::after{
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background-color: #F7941D;
    transform: scaleX(0);
    transition: all .3s ease-in-out;
    transform-origin: left;
}

.input-field .idade .underline::after{
    content: '';
    position: absolute;
    height: 1px;
    width: 20px;
    bottom: -5px;
    left: 0;
    background-color: #F7941D;
    transform: scaleX(0);
    transition: all .3s ease-in-out;
    transform-origin: left;
}
.input-field input:focus ~ .underline::after{
    transform: scaleX(1);

    
}
.input-field input{
    outline: none;
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.9);
    background-color:transparent;
}

.input-field input::placeholder{
    color: rgba(255, 255, 255, 0.5);
}


#btn:disabled{
    margin-top: 2rem;
    padding: 0.4rem;
    background-image: white;
    color: #023f79;
   
    font-size: 0.9rem;
    font-weight: 300;
    border-radius: 4px;
    transition: all 0.3s ease;
    opacity: 0.5;
    border-radius: 15px;
}



#btn:enabled{
    margin-top: 2rem;
    padding: 0.4rem;
    background-image: white;
    color: #023f79;
    --webkit-text-color:4px  #023f79;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 300;
    border-radius: 4px;
    transition: all 0.3s ease;
    border-radius: 15px;
 
}







form input[type="submit"]:hover{
    letter-spacing: 0.5px;
    background: linear-gradient(to right,#023f79,#094480);
}

#select{
    border-radius: 5px;
    outline: none;
}

#select:focus{
    border-radius: 5px;
    border: none;
}

.idadinpt{
    width: 20px;
}


.miniContainer{
    margin-top: 10px;
    display: flex;
    
}



.masc{
    
    margin-left: 30px;
}

.container{
    z-index: 1;
}

.eit{
    margin-right: 5px;
    margin-bottom: 0.5px;
}


.input-field , .eit{
    color: #e7d4ab;
}
.idade{
    color: #e7d4ab;
}

.logo{
    top: 25px;
    left: 25px;
    position: fixed;
    height: 40px;
    height: 80px;
}

a{
    color: white;
}

.idadeinpt .underline::before{
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;

    left: 5px;
    background: rgba(0, 0, 0, 0.2);
}

.mini2{
    display: flex;
    flex-direction: row;
}


.idadeinpt{
    text-align: center;
    margin-left: 5px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    width: 23px;
}


.inp1 , .inp2{
    width: 280px;
}
/* coisas que eu mudei */
.modal{
    z-index: 99;
    position: fixed;
    padding: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0,0.5);
    transform: scale(1.1);
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.25s ease-in-out, transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
}
.modal-contente{
    background-color: white;
    padding: 16px 24px;
    width: 384px;
    border-radius: 0.7%;
}
.macaquice{
    float: right;
    width: 24px;
    cursor: pointer;
    background-color: transparent;
    ;
    align-items: center;
    line-height: 24px;  
}
.macaquice:hover{
    background-color: darkgray;
}
.show-modal{
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
}